<div class="page-title">
  <h1>All Places</h1>
</div>
<div class="row">
  <% @places.each do |place| %>
    <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= place.image_path %>">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= link_to place.name, place_path(place) %> <br />
            <span class="country">(<%= place.country %>)<i class="material-icons right">+</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= place.name %><i class="material-icons right">-</i></span>
          <p>Why to go there: </p>
          <p><%= place.experience %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h5><%= link_to "Suggest a place", new_place_path %></h5>

<div class="continents">
  Continents:
<% @continents.each do |continent| %>
<%= link_to continent.name, continent_path(continent) %> |
<% end %>
</div>

<div class="categories">
  Categories:
<% @categories.each do |category| %>
<%= link_to category.name, category_path(category) %> |
<% end %>
</div>
