<%# if admin render :new, else _suggest_new %>
<h1>Suggest a new place</h1>
<%= form_for @place do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :country %>
<%= f.text_field :country %>

<%= f.label :continent_id %>
<%= f.text_field :continent_id %>
<%#= f.collection_select(:continent_id, Continent.all, :id, :name) %>

<%= f.label :experience %>
<%= f.text_field :experience %>

<%= f.label :category_id %>
<%= f.text_field :category_id %>
<%#= f.collection_select(:category_id, Category.all, :id, :name) %>

<%= f.submit "Suggest Place" %>

<% end %>
