<ul>
<%= @place.name %>
<li>Country: <%= @place.country %></li>
<li>Continent :<%= @place.continent.name %></li>
<li>Category: <%= @place.category.name %></li>
<li>Experience: <%= @place.experience %></li>
<img src="<%= @place.image_path %>" alt="some_text" style="width:width;height:height;">
</ul>

<h3> Comments</h3>
<%= render partial: 'places/comment', collection: @place.comments.reverse %>
<%#= render partial: 'comments/form' %>

<h3>Post a Comment</h3>
<%= form_for [ <% @place , @comment ] do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %><br />
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body %><br />
</p>
<%= f.label @user.username %>
<%= f.label @place.name %>
<p>
  <%= f.submit "Add Comment" %>
</p>
<% end %>
