<!-- <section class="footer-top">
  <div class="footer-top-container">
    <div class="social">
      <small class="copyright">&copy; Amara Lovato</small>
      <h2>Social Links</h2>
      <%= link_to("https://github.com/turingschool") do %>
        <i class="fa fa-github fa-3x"></i>
      <% end %>
      <%= link_to("https://twitter.com/turingschool") do %>
        <i class="fa fa-twitter fa-3x"></i>
      <% end %>
      <%= link_to("https://www.facebook.com/turingschool") do %>
        <i class="fa fa-facebook-square fa-3x"></i>
      <% end %>
      <%= link_to("https://www.instagram.com/turing_school/") do %>
        <i class="fa fa-instagram fa-3x"></i>
      <% end %>
      <%= link_to("https://plus.google.com/110171830647821535352") do %>
        <i class="fa fa-google fa-3x"></i>
      <% end %>
    </div>
    <span>
      Website Design by: <span>Hamilton Posse</span>
    </span>
  </div> -->
</section> -->

<!-- <section class="primary-footer footer-bottom">
  <small class="copyright">&copy; Amara Lovato</small>
  <ul class="social-media">
    <li class="social-media">
      <a href="https://github.com/pixapi"/><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="social-media">
      <a href="https://twitter.com/amaralovato"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </li>
    <li class="social-media">
      <a href="https://www.linkedin.com/in/amaralovato"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="social-media">
      <a href="https://www.instagram.com/amaralovato/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    </li>
  </ul>
  <span>
    Website Design by: <span>Hamilton Posse</span>
  </span>
</footer> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="js/bootstrap.min.js"></script> -->
